:root {
    --time: 2s cubic-bezier(.88,.89,.49,1.14);
    --colorprincipal: #DD3511;
    --colorsecundario:#6d1502;
    --colorprincipalback:#aeb0b8;
    --colorsecundarioback:#1f212b;
    --colorprincipalheader: var(--colorprincipalheader);
    --colorprincipalheader: var(--colorprincipalheader);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--colorprincipalback);
    font-family: Inter, sans-serif;
    font-weight: 400;
    letter-spacing: 0em;
    transition: background-color 0.5s ease, color 0.5s ease;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body.light-mode {
    background-color: var(--colorprincipalback);
    color: var(--colorsecundarioback)
}

body.dark-mode {
    background-color: var(--colorsecundarioback);
    color:#1f212b;
}

body.dark-mode header{
    background-color: var(--colorprincipalheader);
    color: #1f212b;
}

body.dark-mode .info{
    color: #FFFFFF;
}

header {
    width: 100%;
    background-color: #1f212b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px 0; 
    transition: background-color 0.5s ease, color 0.5s ease;
}

.contenedor_header {
    width: 90%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0px;
    box-sizing: border-box;
    flex-grow: 1;
}

.contenedor {
    width: 90%;
    height: 90%;
    max-width: 1440px;
    margin: 3.5% auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    box-sizing: border-box;
    flex-grow: 1;
}

.theme-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    padding-right: 5%;
}

.theme-toggle .icono {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.theme-toggle .icono:hover {
    transform: scale(1.1);
}

.invisible {
    display: none;
}

.header_title {
    flex-grow: 1;
    text-align: center;
}

.header_title a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: var(--colorprincipal);
    transition: color 0.3s ease;
    margin-left: 8%;
}

.header_title a:hover {
    color: #000;
}

.encriptador {
    width: 60%;
    box-sizing: border-box;
    height: calc(80%);
}

.text_out_sec {
    width: 40%;
    border: 2px solid var(--colorprincipal);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_in {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.text_in_info {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    animation: slide_info var(--time);
    text-align: center;
    color: var(--colorprincipal);
    font-size: 14px;
    display: flex;
    align-items: center; /* Coloca la imagen y el texto en línea */
    justify-content: center;
    gap: 8px; /* Espacio entre la imagen y el texto */
    flex-direction: column; /* Alinea el ícono y el texto arriba de los botones */
    gap: 30px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px; /* Espacio entre el párrafo y los botones */
    font-size: 18px;
    color: black;
}

.info > img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.text_in_btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-top: 0;
    width: 100%;
}

.text_in_btns > input {
    width: calc(50% - 6px);
    padding: 15px 0;
    border: 2px solid var(--colorprincipal);
    border-radius: 24px;
    background-color: var(--colorsecundario);
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.text_in_btns > input:hover {
    transform: scale(1.05);
    background-color: #BB2A0C;
}

.text_in > textarea {
    width: 100%;
    padding: 20px;
    border: 2px solid var(--colorprincipal);
    border-radius: 24px;
    font-size: 20px;
    resize: none;
    box-sizing: border-box;
    background-color: #c4b8b8;
    color: #000000;
    min-height: 150px;
}

.text_in > textarea:focus {
    outline: none;
}

.text_in > textarea::-webkit-input-placeholder {
    color: #000000;
}

.text_out_sec{
    height: calc(80%);
}

#texto_out {
    width: 100%;
    height: 100%;
    font-size: 24px;
    line-height: 36px;
    background-color: #c4b8b8;
    border: none;
    border-radius: 24px;
    resize: none;
    padding: 20px;
    box-sizing: border-box;
    outline: none; 
}

@media screen and (max-width: 460px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
    }
    .encriptador {
        width: 90%;
    }
    
    .text_out_sec {
        width: 90%;
    }
}

@media screen and (max-width: 300px) {
    .contenedor_header {
        flex-direction: column;
        align-items: center;
    }
    .header_title {
        margin-bottom: 5%;
    }
    .text_in_btns > input {
        font-size: 15px;
    }
    .info {
        font-size: 14px;
    }
}

@media screen and (max-width: 250px) {
    .header_title a {
        font-size: 26px;
    }
    .header_title {
        padding-right: 5%;

    }
}